body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

#main-screen {
  position: absolute;
  z-index: 2;
  text-align: center;
}

button {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.hidden {
  display: none;
}

#visualizer-container {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: url('background2.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100vw;
  height: 100vh;
  opacity: 0.75;
}
